.container {
    display: flex;
    flex-direction: column;

    header {
        flex: 2;
    }

    main {
        background-color: yellowgreen;

        flex: 10;
        overflow-y: scroll;

        .item {
            border: 1px solid purple;
        }
    }
}