.container {
    position: relative;

    --media-offset: 3px;

    .background {
        width: 99%;
        height: 99%;
        background-color: white;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;
        display: flex;
        flex-direction: column;

        animation: fade-in 0.3s linear;

        .media {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video, image {
                width: calc(100% - var(--media-offset));
                height: calc(100% - var(--media-offset));
                height: 97%;
                object-fit: fill;
                border-radius: var(--item-curve);
            }

            &.hidden {
                visibility: hidden;
            }
        }

        .details {
            position: absolute;
            bottom: 0%;
            left: var(--media-offset);
            right: calc(-1 * var(--media-offset));
            border-radius: var(--item-curve);
            height: 35%;
            color: white;
            z-index: 1;

            --gradient-color: 35%;
            background-image: linear-gradient(
                                to bottom,
                                hsla(0, 0%, var(--gradient-color), 0) 0%,
                                hsla(0, 0%, var(--gradient-color), 0.06) 6.4%,
                                hsla(0, 0%, var(--gradient-color), 0.13) 12.2%,
                                hsla(0, 0%, var(--gradient-color), 0.208) 17.4%,
                                hsla(0, 0%, var(--gradient-color), 0.292) 22.3%,
                                hsla(0, 0%, var(--gradient-color), 0.379) 27%,
                                hsla(0, 0%, var(--gradient-color), 0.469) 31.7%,
                                hsla(0, 0%, var(--gradient-color), 0.558) 36.6%,
                                hsla(0, 0%, var(--gradient-color), 0.644) 41.8%,
                                hsla(0, 0%, var(--gradient-color), 0.726) 47.4%,
                                hsla(0, 0%, var(--gradient-color), 0.801) 53.6%,
                                hsla(0, 0%, var(--gradient-color), 0.867) 60.7%,
                                hsla(0, 0%, var(--gradient-color), 0.922) 68.7%,
                                hsla(0, 0%, var(--gradient-color), 0.964) 77.8%,
                                hsla(0, 0%, var(--gradient-color), 0.991) 88.2%,
                                hsl(0, 0%, var(--gradient-color)) 100%
                            );

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            transition: opacity 0.4s linear;
            opacity: 0;

            span {
                margin: 1%;
            }

            .name {
                font-family: WorkSans-SemiBold;
                font-size: 1.2em;
            }

            .vendor {
                font-size: 0.8em;
                margin-bottom: 1.5%;
                font-family: WorkSans-Light;
            }
        }

        @media (hover: hover){
            &:hover {
                .details {
                    opacity: 1;
                }
            }
        }
        @media (hover: none){
            .details {
                opacity: 1;
            }
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 100;
        }
    }
}