.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        display: flex;

        width: 80%;
        height: 40%;
        max-width: 70ch;
        max-height: 6ch;

        --border: 1px solid #123;
        --curve: 10px;
        border: var(--border);
        border-radius: var(--curve);

        input {
            flex: 5;
            border-bottom-left-radius: var(--curve);
            border-top-left-radius: var(--curve);

            outline: none;
            border: none;
            border-right: var(--border);
        }

        .select {
            flex: 2;

            & > * > * {
                border: none;
                outline: none;
                border-bottom-right-radius: var(--curve);
                border-top-right-radius: var(--curve);
            }
        }
    }

}