.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        display: flex;

        width: 80%;
        height: 40%;
        max-width: 70ch;
        max-height: 6ch;

        --border: 1px solid var(--light-grey);
        border: var(--border);
        border-radius: var(--item-curve);

        input {
            flex: 5;
            border-bottom-left-radius: var(--item-curve);
            border-top-left-radius: var(--item-curve);

            outline: none;
            border: none;
            border-right: var(--border);
            font-family: WorkSans-Light;

            // using m#{i}n() instead of min(),
            // so scss compiler won't try to use it's own min function,
            // the m#{i}n is compiled to the word 'min',
            // and so the native CSS engine recognizes and uses it
            // (can bu used in runtime with dynamic and incompatible values)
            font-size: m#{i}n(5vw, 1.7em);
            padding: 0 3%;
        }

        .select {
            flex: 2;
            & > * > * {
                font-size: m#{i}n(4.5vw, 1.3em);
                background-color: #f5f5f5;
                border: none;
                outline: none;
                border-bottom-right-radius: var(--item-curve);
                border-top-right-radius: var(--item-curve);
            }
        }
    }

}